.container {
  border-radius: 1rem;
  border: 10px solid transparent;
  background:linear-gradient(45deg,rgb(240, 227, 227),rgb(243, 207, 141)) border-box;

  margin:2rem;

  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.title {
  font-size: 1.7rem;;
}

.input {
  border: transparent;
  width: 80%;
  padding-top: 2rem;
  background: transparent;
  border-bottom: 1px solid #000;
  font-size: 1.7rem;
}

.input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
  border-bottom: 2px solid rgb(75, 202, 85);
}

.button {
border: none;
margin: 4rem 0;
padding: 0.8rem;
font-size: 1.3rem;
background: #33CC99;
border-radius: 1rem;
font-weight: bold;
color:#eee;

cursor: pointer;
transition: ease-in-out .2s;
}

.button:hover {
  background: #30b186;
}