.container {
  color: #fff;

  width:40%;
  text-align: center;

  bottom: 1rem;
  left: 1rem;

  margin: 2rem;

  font-size: .7rem;

  
}

@media screen and (max-width: 420px){
  .container {
  
    width:90%;
    font-size: .7rem;

  }
}